
form{
     margin: 0 5px;
    //  .form-row{
    //     .col{
    //         padding-left: 0;
    //         padding-right: 30px;
    //         &:last-child{
    //             padding-right: 0;
    //         }
    //      }
         .form-group{
            margin: 0 0 20px 20px;
            label{
                font-family: $base-font;
                font-size: rem(16px);
                font-weight: 500;
                line-height: 20px;
                color: black;
                margin-bottom: 10px;
                display: block;
                letter-spacing: 0.3px;
            }
            .inline-label{
                float: left;
                // display: inline-block;
                margin-right: 35px;
            }
            .rate {
                float: left;
                height: 46px;
                // padding: 0 10px;
                position: relative;
                &:not(:checked) {
                    .rating-stars {
                        position: absolute;
                        top: -9999px;
                    }
                    .rating-label {
                        float: right;
                        width: 1em;
                        overflow: hidden;
                        white-space: nowrap;
                        cursor: pointer;
                        font-size: 30px;
                        color: #ccc;
                        &:before {
                            content: '★ ';
                        }
                        &:hover {
                            color: #deb217;
                            
                            .rating-label {
                                color: #deb217;
                            }
                            
                        }
                    }
                }
                .rating-stars {
                    &:checked {
                        
                        .rating-label {
                            color: #ffc700;
                            &:hover {
                                color: #c59b08;
                                    
                                    .rating-label {
                                            color: #c59b08;
                                    }
                                    
                                }
                            }
                        
                        + {
                            .rating-label {
                                &:hover {
                                    color: #c59b08;
                                    ~ {
                                        .rating-label {
                                            color: #c59b08;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                .rating-label {
                    &:hover {
                        
                        .rating-stars {
                            &:checked {
                                
                                    .rating-label {
                                        color: #c59b08;
                                    }
                                    
                                }
                            }
                        
                    }
                }
            }
            
            
            .dark-text{
                font-weight: bold;
            }
            .grey-text{
                color: #757575;
            }
            input::placeholder{
                color: #A9A9A9;
                font-size: 12px;
            }
            .form-control{
                border: 1px solid #ced4da;
                border-radius: .25rem;
                background: #f9f9f9;
                transition: border .3s ease;
                // &:hover{
                //     border: 1px solid #212121;
                // }
                &:focus{
                    box-shadow: none;
                    background: $light-gray;
                    border: 1px solid #007ad9;
                    // border: 1px solid #00000038;
                }
            }
            .mt-2{
                margin-top: 10px;
            }
            .input-size{
                display: inline-block;
                width: 33%;
                margin-right: 35px;
                float: left;
                &:last-child{
                    margin-right: 0;
                }
            }
            .skill-set{
                display: inline-block;
                width: 31%;
                margin-right: 30px;
                &:last-child{
                    margin-right: 0;
                }
            }
            .skill-set-two{
                display: inline-block;
                width: 48%;
                margin-right: 35px;
                &:last-child{
                    margin-right: 0;
                }
            }
            .margin-zero{
                margin-right: 0;
            }
            .plus-btn{
                float: right;
                position: relative;
                color: #fff;
                transition: all .4s ease;
                background-color: #3f51b5;
                line-height: 1.2;
                &:hover{
                    transform: scale(0.9);
                }
            }
            .tooltiptext{
                visibility: hidden;
                opacity: 0;
                width: 120px;
                background-color: black;
                color: #fff;
                text-align: center;
                border-radius: 6px;
                padding: 5px 0;
                position: absolute;
                z-index: 1;
                top: 50%;
                left: 65%;
                margin-left: -60px;
                &:after{
                    content: "";
                    position: absolute;
                    bottom: 100%;
                    left: 50%;
                    margin-left: -5px;
                    border-width: 5px;
                    border-style: solid;
                    border-color: transparent transparent black transparent;
                }
            }
        }
        .bg-color{
            padding: 20px 10px;
            background-color: #e75516;
        }
    }
// }
